apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: managed
  namespace: argocd
spec:
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
  destinations:
    - name: '*'
      namespace: '*'
      server: https://kubernetes.default.svc
  namespaceResourceWhitelist:
    - group: '*'
      kind: '*'
  roles:
    - name: allow-all
      policies:
        - p, proj:managed:allow-all, applications, *, managed/*, allow
  sourceNamespaces:
    - '*'
  sourceRepos:
    - '*'
