repoServer:
  livenessProbe:
    timeoutSeconds: 10
    initialDelaySeconds: 60
    periodSeconds: 10
    failureThreshold: 5
  readinessProbe:
    timeoutSeconds: 10
    initialDelaySeconds: 30
    periodSeconds: 10
    failureThreshold: 3

